/* 
 * Developed from scratch by Andrew Yin Li.
 */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');

	@font-face {
	    font-family: 'Quicksand';
	    src: url('../fonts/Quicksand-Regular.eot');
	    src: url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
	        url('../fonts/Quicksand-Regular.woff2') format('woff2'),
	        url('../fonts/Quicksand-Regular.woff') format('woff'),
	        url('../fonts/Quicksand-Regular.ttf') format('truetype'),
	        url('../fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}


	h2, h3, h4, h5, h6{
		
		font-family: 'Quicksand', Arial, Helvetica, sans-serif;
		
	}

	
	h1{
		margin-top: 10px;
		color: #FFFFFF;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		font-size: 80px;
		text-transform: uppercase;
		letter-spacing: .1em;
		text-align: center;
		text-shadow: -1px 1px 0px #99ccff, -2px 2px 0px #99ccff, -3px 3px 0px #99ccff, -4px 4px 10px #6699ff;
	}

	h2{
		font-size: 12pt;
		text-align: center;
		padding: 0.2em;
	}

	button:focus {
		outline:0;
	}


	#myVideo {
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    min-width: 100%; 
	    min-height: 100%;
	}
	#profile-picture{
		padding-top: 130px;
	}

	#profile-picture img{
		
		display: block;
		margin: 0 auto;
		height: 175px;
		width: 175px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		box-shadow: -7px 12px 15px rgba(0, 0, 0, 0.5); 
	}

	.button{
		background-color: #32CD32;
		color: white;
		display: block;
		padding: 14px 18px;
		border: none;
		border-radius: 8px;	
		margin: 0 auto;
		cursor: pointer;	
	}

	.button span{
		font-family: 'Quicksand', Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 900;
	}

	.button:hover{
		background-color: yellow;
	}

	#resume{
		padding-top: 12px;
		padding-bottom: 12px;
	}

	#social{
		text-align: center;
	}

	#social img{
		height: 55px;
		width: 55px;
		padding: 4px 10px 0px 10px; 
	}

	#social img:hover{
		filter:opacity(75%);
	}




	@-webkit-keyframes bob
	{
	    15%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    30%
	    {
	        -webkit-transform: translateY(-3px);
	       transform: translateY(-3px);
	    } 
	    50%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    65%
	    {
	        -webkit-transform: translateY(-3px);
	        transform: translateY(-3px);
	    }
	    80%
	    {
	        -webkit-transform: translateY(2px);
	        transform: translateY(2px);
	    }
	    100%
	    {
	        -webkit-transform: translateY(0);
	        transform: translateY(0);
	    }
	}
	@keyframes bob
	{
	    15%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    30%
	    {
	        -webkit-transform: translateY(-3px);
	       transform: translateY(-3px);
	    } 
	    50%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    65%
	    {
	        -webkit-transform: translateY(-3px);
	        transform: translateY(-3px);
	    }
	    80%
	    {
	        -webkit-transform: translateY(2px);
	        transform: translateY(2px);
	    }
	    100%
	    {
	        -webkit-transform: translateY(0);
	        transform: translateY(0);
	    }
	}

	.arrow{
		-webkit-animation: bob 1s ease;
        animation: bob 1s ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
	}	

	#bg-video{ 
		position: absolute; 
		right: 0; 
		bottom: 0;
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto; 
		z-index: -100;
		background-size: cover; 
	}
