/* 
 * Developed from scratch by Andrew Yin Li.
 */
	@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
	@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
	@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

	html, body {
		margin:0;
		padding:0;
		overflow-x: hidden;
	}

	a{
		text-decoration: none;
		color: #FFFFFF;
	}

	h1, h3{
		font-family: 'Fjalla One', sans-serif;
	}

	h2, h4, h5{
		
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		
	}

	h3, h4, h5, h6{
		color: #e6ffff;
		margin: auto 2.5%;
	}

	h1{
		margin-top: 10px;
		margin-bottom: 30px;
		color: #FFFFFF;
		font-weight: 500;
		font-size: 80px;
		text-transform: uppercase;
		letter-spacing: .1em;
		text-align: center;
		text-shadow:0px 0px 0 rgb(42,142,167),-1px 1px 0 rgb(37,137,162),-2px 2px 0 rgb(33,133,158),-3px 3px 0 rgb(29,129,154),-4px 4px 0 rgb(24,124,149),-5px 5px 0 rgb(20,120,145),-6px 6px 0 rgb(16,116,141),-7px 7px 0 rgb(11,111,136),-8px 8px 0 rgb(7,107,132),-9px 9px 0 rgb(3,103,128),-10px 10px 0 rgb(-2,98,123),-11px 11px 0 rgb(-6,94,119),-12px 12px 0 rgb(-11,89,114),-13px 13px 0 rgb(-15,85,110),-14px 14px 0 rgb(-19,81,106),-15px 15px 0 rgb(-24,76,101),-16px 16px 0 rgb(-28,72,97),-17px 17px 0 rgb(-32,68,93),-18px 18px 0 rgb(-37,63,88),-19px 19px 0 rgb(-41,59,84), -20px 20px 0 rgb(-45,55,80), -21px 21px 10px #000000;
	}

	h2{
		font-size: 14pt;
		text-align: center;
	    color: #FFFFFF;
	    font-weight: 500;
	    
	}

	h3{
		font-size: 22pt;
		text-transform: uppercase;
		
	}

	h4{
		font-size: 16pt;
	}

	h4.project-button-text{
		font-size: 14pt;
		margin: auto;
		padding: 0;
	}

	i{
		vertical-align: middle;
		display: inline;
		clear: left;
	}

	h5{
		font-size: 14pt;
	}

	h6{
		font-family: 'Alegreya Sans SC', sans-serif;
		font-size: 14pt;
		font-weight: 100;
	}

	h6.caption{
		margin: 4px auto;
		text-align: center;

	}

	.anchor{
		color: #000000;
		display: inline;
		text-decoration: underline dotted;
	}

	.anchor:hover{
		font-style: italic;
	}

	button:focus {
		outline:0;
	}


	#bg-video{ 
		position: fixed; 
		left: 0;
		top: 0;
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto; 
		background-size: cover; 
		pointer-events: none;
		z-index: -100;
	}

	#bg-overlay{ 
		position: fixed; 
		left: 0;
		top: 0;
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto; 
		background-size: cover; 
		background-color: rgba(38, 63, 89, 0.7);
		z-index: -99;
	}
	

	#introduction-overlay{
		position: relative; 
		width: 60%; 
		padding: 5px 10px;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -90;
		border-radius: 25px;
		margin: 0 auto;
	}

	#profile-picture{
		padding-top: 100px;
	}

	#profile-picture img{
		display: block;
		margin: 0 auto;
		height: 175px;
		width: 175px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		box-shadow: -7px 12px 15px rgba(0, 0, 0, 0.5); 
	}

	.button{
		background-color: #0098C3;
		color: white;
		display: block;
		padding: 10px 12px;
		border: none;
		border-radius: 8px;	
		margin: 8px auto;
		cursor: pointer;	
	}

	.button span{
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;;
		font-size: 12pt;
		font-weight: 600;
	}

	.button:hover{
		background-color: #00799c;
	}

	#resume{
		padding-top: 12px;
		padding-bottom: 12px;
	}

	#social{
		text-align: center;
		margin-bottom: 12px;
	}

	#social img{
		height: 70px;
		width: 70px;
		padding: 4px 12px; 
	}

	#social img:hover{
		filter:opacity(60%);
	}

	#email{
		padding-top: 100px;
	}

	@-webkit-keyframes bob
	{
	    15%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    30%
	    {
	        -webkit-transform: translateY(-3px);
	       transform: translateY(-3px);
	    } 
	    50%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    65%
	    {
	        -webkit-transform: translateY(-3px);
	        transform: translateY(-3px);
	    }
	    80%
	    {
	        -webkit-transform: translateY(2px);
	        transform: translateY(2px);
	    }
	    100%
	    {
	        -webkit-transform: translateY(0);
	        transform: translateY(0);
	    }
	}
	@keyframes bob
	{
	    15%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    30%
	    {
	        -webkit-transform: translateY(-3px);
	       transform: translateY(-3px);
	    } 
	    50%
	    {
	        -webkit-transform: translateY(3px);
	        transform: translateY(3px);
	    }
	    65%
	    {
	        -webkit-transform: translateY(-3px);
	        transform: translateY(-3px);
	    }
	    80%
	    {
	        -webkit-transform: translateY(2px);
	        transform: translateY(2px);
	    }
	    100%
	    {
	        -webkit-transform: translateY(0);
	        transform: translateY(0);
	    }
	}

	.arrow{
		-webkit-animation: bob 1s ease;
        animation: bob 1s ease;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        text-align: center;
	}	

	#about-top {
		width: 0;
		height: 0;
		border-bottom: 10vh solid #4d79ff;
		border-right: 100vw solid transparent;
		overflow: hidden;
	}

	#about{
		background-size: cover;
		background-color: #4d79ff;
		overflow: auto;
		padding: 5vh 0;
	}

	#portfolio-top {
		width: 0;
		height: 0;
		border-top: 10vh solid #4d79ff;
		border-right: 100vw solid #3366ff;
		overflow: hidden;
	}

	#portfolio{
		background-size: cover;
		background-color: #3366ff;
		overflow: auto;
		padding: 5vh 0;
	}

	#portfolio-projects div{
		margin: 0 auto;
	}

	.portfolio-project{
		width: 90vw;
		padding: 2vh 0;
		background: #343D48;
		overflow: hidden;
	}

	.slideshow{
		padding: 0 2.5%;
	}

	.project-button{
		background-color: #0098C3;
		color: white;
		padding: 10px 10px;
		border-radius: 8px;	
		border: 0;
		cursor: pointer;
		margin: 0 0.25vw 0 0;
		vertical-align: middle;
	}

	.project-button:hover{
		background-color: #00799c;
	}

	.project-button-link{
		padding: 4px 10px;
		float: right;
	}

	.project-button-margins{
		margin: 0 0.25vw;
	}

	.slide img{
		border-radius: 2.5%;
		margin: 0 auto;
		display: block;
	}

	#footer-top {
		width: 0;
		height: 0;
		border-top: 10vh solid #3366ff;
		border-left: 100vw solid #6897BB;
		overflow: hidden;
	}

	footer{
		background-color: #6897BB;
	}

	#GitHub{
		display: block;
    	margin: 1vh auto 2vh;
    	padding: 10px;
	}

	#GitHub img{
		display: block;
		margin: 0 auto;
	}

	#GitHub h6{
		text-align: center;
	}


	
