body, html{
  width:100%;
  height:100%;
  background-color:#f3f5f4;
}

hr.thicc{
  border:1px solid #313131;
  margin-left:10%;
  margin-right:50%;
}

#about{
  font-family:'Reenie Beanie', cursive;
}

#about h1{
  font-size:90px;
  color:#313131;
  padding-left:10%;
  line-height:0;
}

#about h2{
  font-size:30px;
  color:#414141;
  margin-right:50%;
  margin-left:12.5%;
  line-height:1;
}

#about h3{
  font-size:24px;
  color:#414141;
  margin-right:50%;
  margin-left:12.5%;
  line-height:0;
}

#experience{
  font-family:'Roboto', sans-serif;
  display:inline;
}

#experience h1{
  font-size:24px;
  font-weight:100;
  padding-left:10%;
}

#experience h2{
  font-weight:300;
  font-size:20px;
  color: #414141;
  margin-left:12.5%;
  margin-right:50%
}

#experience h3{
  font-weight:300;
  font-size:16px;
  color: #414141;
  margin-left:15%;
  margin-right:50%
}

#projects{
  font-family:'Roboto', sans-serif;
  display:inline;
}

#projects h1{
  font-size:24px;
  font-weight:100;
  padding-left:10%;
}

#projects h2{
  font-weight:300;
  font-size:20px;
  color: #4379c0;
  margin-left:12.5%;
  margin-right:50%
}

#projects h3{
  font-weight:300;
  font-size:16px;
  color:#414141;
  margin-left:15%;
  margin-right:50%;
}

#projects a{
  color:#4379c0;
}

#contact{
  font-family:'Roboto', sans-serif;
  font-size:18px;
  font-weight:100;
}

#contact a{
  color:#414141;
  text-decoration:none;
}

#contact ul{
  padding-left:12.5%;
  list-style:none;
}
#contact li{
  display:inline;
  padding:0 4px;
}